<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffffff" />
    <meta name="description"content="WHITE QR is a simple Qr code creater website which is doing, link to qr code image etc."/>
    <meta name="author" contant="Krishnendu Mitra"/>
    <title version="1.0">WHITE QR</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/App.css" />
    <link rel="icon" href="../public/favicon.ico" />
</head>
<style>
body{
    height: 100%;
    text-align: center;
    font-family: sans-serif;
    padding-top: 20%;
    color: grey;
}
h2{
    font-weight: 600;
    color: var(--heading-color);
    font-family: Consolas;
    cursor: pointer;
}
</style>
<body>
    <h1><%= error %>!</h1>
    <h4><%= message %></h4>
</body>
<script src="../public/App.js"></script>
</html>